.container {
  font-size: 16px;
  font-family: $project-font;
  min-height: 100vh;
  margin: auto;
  color: $color-titletext;
  background-color: $color-background;
 // overflow-y: scroll;
  display: grid;
  grid-template-columns: 190px 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 2fr 2fr auto;
  grid-template-areas:
    "menu searchbar searchbar searchbar"
    "menu main main main"
    "menu main main main"
    "menu main main main";
    
    &--light{
      @extend .container;
      background-color: $color-background--light;
      color: $color-titletext--light;
    }
}
