//VARIABLES
$project-font: "Rubik", sans-serif;

// COLORES
$color-background: #f4f7f5;
$color-globaltext: #333333;
 $color-coolyellow: #f2dd6e; 
 
/* $color-coolyellow:#ffed00; */
$color-textmenu: #040d12;
$color-cardhover: #ccc7c14d;
$color-oldpaper: #a41d23;
$color-granate: #a41d23;
$gradient-header: linear-gradient(
  180deg,
  rgba(242, 221, 110, 1) 0%,
  rgba(244, 247, 245, 1) 100%
);
$gradient-footer: linear-gradient(
  0deg,
  rgba(242, 221, 110, 1) 0%,
  rgba(244, 247, 245, 1) 100%
);
$redes-sociales: (
  facebook: #016fb9,
  instagram: #ff5571,
  tiktok: black,
);
