//VARIABLES
$project-font: "Roboto", sans-serif;

// COLORES
$color-dark-grey: #ffffff1a;
$color-background: #0f0f0f;
$color-titletext: #f1f1f1;
$color-channeltitletext: #AAAAAA;
$color-blue:#3ea6ff;
/* $color-globaltext: #f1f1f1; */


//LIGHT MODE

$color-background--light: #e6e4e4;
$color-light-grey: #0000000d;
$color-titletext--light: black;
$color-subtitletext--light: #606060;
 


$redes-sociales: (
  facebook: #016fb9,
  instagram: #ff5571,
  tiktok: black,
);
