@media only screen and (max-width: 500px) {
    .container {
        min-height: 100vh;
        grid-template-columns: 180px 1fr 1fr;
        grid-template-rows: 125px 60px 80% auto;
        grid-template-areas:
            " menu menu menu"
            "searchbar searchbar searchbar"
            " main main main"
            " main main main";
        /*      overflow-y: scroll;
        overflow-x: hidden; */
    }

    .navbar {
        flex-direction: column;
        justify-content: space-around;

        &--menu {
            @include d-flex(space-around, center);
            flex-direction: row;

            &--button {
                width: auto;

            }
        }
    }

    .searchbar {
        //  margin: 0rem 0.5rem ;
        width: 90%;

        &--form {
            &>input {
                font-size: 0.9rem;
            }
        }
    }

    .videodetail {
        grid-template-rows: 500px;
        height: auto;

        &--videocontainer {
            width: 100%;

            &--subframe {
                margin-top: 0.5rem;

                &--texto {
                    width: 100%;

                    &>h1 {
                        font-size: 0.9rem;
                        line-height: 1.5rem;
                    }

                    &>p {
                        font-size: 0.8rem;
                    }

                    &--channel--link {
                        font-size: 0.9rem;
                    }
                }

                &>img {
                    margin: 0.5rem;
                    max-width: 18px;
                }
            }
        }
    }

    .videolist {
        flex-direction: column;
    }

    .videoitem {
        max-width: 80%;
    }


    .termContainer {
        margin: 1rem 0rem;

        &--list {
            width: auto;

            &--img {
                width: 90px;
            }

            &--text {
                font-size: 0.8rem;
            }

            &--button {
                height: 2rem;
            }
        }
    }

    .channel {
        margin: 1rem 0rem;
    }

    .channelContainer {
        padding: 0rem;
        margin: 0.5rem;

        &--list--img {
            width: 16vw;
            max-width: 100px;
        }
    }

    .channelInfo--container {
        flex-direction: column;

        &>img {
            width: 40%;
        }

        &--cabecera--title {
            &>h1 {
                font-size: 1.5rem;
            }
        }
    }
}