@media only screen and (min-width: 501px) and (max-width: 960px) {
    .container {
        grid-template-columns: 250px 1fr 1fr;
        grid-template-rows: 50px 70% auto;
        grid-template-areas:
            " menu menu searchbar"
            " main main main"
            " main main main";
        /*  overflow-y: scroll;
        overflow-x: hidden; */
    }


    .navbar {
        flex-direction: row;
        justify-content: space-around;

        &--menu {
            @include d-flex(space-around, center);
            flex-direction: row;

            &--button {
                width: auto;

            }
        }
    }

    .searchbar {
        width: 90%;

    }

    .videodetail {
        &--videocontainer {
            width: 100%;

            &--text {
                width: 100%;

                &>h1 {
                    font-size: 1rem;
                    line-height: 1.5rem;
                }

                &>p {
                    font-size: 0.8rem;
                }
            }
        }
    }


    .videoitem {
        &--title {
            font-size: 0.7rem;
        }

        &--channeltitle {
            font-size: 0.6rem;
        }
    }


}