.videolist {
    grid-area: videolist;
    @include d-flex(space-around, center);
    background-color: #0f0f0f;
    overflow: hidden;
    /*  max-height: 300px; */
    /* overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth; */
}
.videolistFav{
    grid-area: main;
    @include d-flex(space-around, center);
    background-color: #0f0f0f;
    overflow: hidden;
    flex-wrap: wrap;
}
.videoitem {
    max-width: 17%;
    height: auto;

    >a {
        text-decoration: none;
    }

    &--container {
        @include d-flex(space-between, flex-start);
        flex-direction: column;

        &:hover {
            transform: scale(1.1);
        }
    }

    &--thumbs {
        border-radius: 15px;
        width: 100%;
        height: 100%;
        object-fit: contain;

    }

    &--title {
        color: #f1f1f1;
        height: 15%;
        font-size: 0.9rem;
        width: 90%;
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }

    &--subtitle {
        @include d-flex(space-between,center);
        width: 100%;
        &>img{
            width:16px;
        }
        &--channeltitle {
            font-size: 0.7rem;
            height: 15%;
            line-height: 2rem;
            font-weight: 500;
            max-height: 4rem;
            /*  text-overflow: ellipsis; */
            overflow: hidden;
            white-space: nowrap;
            color: #AAAAAA;
        }
    }
}