.videodetail {
  grid-area: main;
  background-color: #0f0f0f;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 60vh; //CAMBIO DE LAYOUT A FLEX EN container--videodetail
  width: 100%; //CAMBIO DE LAYOUT A FLEX EN container--videodetail

  &--light {
    @extend .videodetail;
    background-color: $color-background--light;

  }

  &--videocontainer {
    grid-row: 1/3;
    grid-column: 1/3;
    overflow: hidden;
    width: 100%;
    height: auto;
    object-fit: cover;
    /*   position: relative; */
    /*   aspect-ratio: 16 / 9;
         background-color: #f26565; */
    /*   padding-top: 56.25%; */
    @include d-flex(flex-start, center);
    flex-direction: column;

    &--iframe {
      /* box-shadow: #d7d7f8c2 0px 7px 29px 0px; */
      width: 100%;
      height: 100%;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }

    &--subframe {
      border-radius: 15px;
      padding: 10px;
      //  background-color: $color-dark-grey;
      width: 100%;
      @include d-flex(space-around, center);

      &--texto {
        font-weight: 500;
        text-align: justify;

        &--title {
          font-size: 1.1rem;
          color: $color-titletext;
          line-height: 1.8rem;
          text-transform: uppercase;

          &--light {
            @extend .videodetail--videocontainer--subframe--texto--title;
            //background-color: $color-background--light;
            color: $color-titletext--light;
          }
        }

        &--description {
          font-size: 0.9rem;
          line-height: 1.1rem;
          color: $color-channeltitletext;
          margin-top: 0.8rem;

          &--light {
            @extend .videodetail--videocontainer--subframe--texto--description;
            //background-color: $color-background--light;
            color: $color-titletext--light;

          }
        }

        &--channel {
          color: $color-titletext;
          font-weight: 600;
          font-size: 0.9rem;
          line-height: 1.5rem;

          &--link {
            text-decoration: none;
            color: red;
          }

          &--light {
            @extend .videodetail--videocontainer--subframe--texto--channel;
            //background-color: $color-background--light;
            color: $color-titletext--light;
          }

        }
      }

      &>img {
        margin: 0.9rem;
        max-width: 24px;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}